@font-face {
  font-family: FuturaBold;
  src: url(../font/Futura\ Bold.otf);
}
body {
  margin: 0;
  background-color: aqua;
  font-family: FuturaBold;
  box-sizing: border-box;
}
.max-width {
  box-sizing: border-box;
  max-width: 1200px;
  margin-inline: auto;
}
.main-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.mt10 {
  margin-top: 10px;
}
.flex-col {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-inline: auto;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.center {
  width: 540px;
  position: relative;
}
.center .center-txt {
  color: #2a2929;
  position: absolute;
  bottom: 0;
  left: 0;
  height: fit-content;
  color: #2a2929;
  position: absolute;
  bottom: 135px;
  left: 227px;
  font-size: 55px;
  height: fit-content;
}
/* .side {
  width: 25%;
} */
.center img {
  width: 100%;
}
.l1 img {
  width: 180px;
}
.l2-3 img {
  width: 215px;
}
.scope-txt {
  text-align: center;
}
.scope-txt img {
  width: 420px;
  margin-top: -20px;
}
.l1 a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 14.5px;
  -webkit-font-smoothing: antialiased;
  height: fit-content;
  width: fit-content;
  text-align: left;
  line-height: 17px;
}
.l1 .l1-link img {
  width: 146px;
}

.l1-txt {
  position: absolute;
  left: 97px;
  top: 63px;
  font-size: 15.5px;
  line-height: 18px;
}
.r1-txt {
  position: absolute;
  left: 30px;
  top: 63px;
  font-size: 15.5px;
  line-height: 18px;
}
.l1 {
  position: relative;
}
.l2-link {
  position: absolute;
  left: 29.5px;
  top: 58px;
}
.r2-link {
  position: absolute;
  left: 58.5px;
  top: 54px;
}
.l3-link {
  position: absolute;
  left: 85.5px;
  bottom: 49px;
  top: auto;
}
.r3-link {
  position: absolute;
  left: 11.5px;
  bottom: 33px;
  top: auto;
}
@media (max-width: 900px) {
  .l1 .l1-link img {
    width: 115px;
  }
  .l1-txt {
    position: absolute;
    left: 61px;
    top: 50px;
    font-size: 12.5px;
    line-height: 14px;
  }
  .l2-3 img {
    width: 159px;
  }
  .l1 img {
    width: 155px;
  }
  .center {
    width: 430px;
  }
  .l2-link {
    position: absolute;
    left: 21.5px;
    top: 40px;
  }
  .l1 a {
    font-size: 10.5px;
    line-height: 12px;
  }
  .l3-link {
    position: absolute;
    left: 60.5px;
    bottom: 33px;
    top: auto;
  }
  .r1-txt {
    position: absolute;
    left: 24px;
    top: 49px;
    font-size: 12.5px;
    line-height: 14px;
  }
  .r2-link {
    position: absolute;
    left: 55.5px;
    top: 51px;
  }

  .center .center-txt {
    bottom: 102px;
    left: 179px;
    font-size: 46px;
    height: fit-content;
  }
}
@media (max-width: 768px) {
  .center {
    width: 317px;
  }
  .center .center-txt {
    bottom: 85px;
    left: 151px;
    font-size: 37px;
    height: fit-content;
  }
  .l1 .l1-link img {
    width: 78px;
  }
  .l1 img {
    width: 115px;
  }
  .center .center-txt {
    bottom: 74px;
    left: 132px;
    font-size: 34px;
    height: fit-content;
  }
  .l1-txt {
    position: absolute;
    left: 52px;
    top: 34px;
    font-size: 8.5px;
    line-height: 10px;
  }
  .l1 a {
    font-size: 7.5px;
    line-height: 10px;
  }
  .l2-link {
    position: absolute;
    left: 17.5px;
    top: 29px;
  }
  .l3-link {
    position: absolute;
    left: 46.5px;
    bottom: 27px;
    top: auto;
  }
  .specsi {
    width: 83px !important;
  }
  .r1-txt {
    position: absolute;
    left: 18px;
    top: 37.3px;
    font-size: 8.5px;
    line-height: 10px;
  }
  .r2-link {
    position: absolute;
    left: 37.5px;
    top: 32.2px;
  }
  .l1 .spec2 {
    width: 104px;
  }
  .r3-link {
    position: absolute;
    left: 10.5px;
    bottom: 20px;
    top: auto;
  }
}
@media (max-width: 525px) {
  .center {
    width: 260px;
  }
  .l1 .l1-link img {
    width: 56px;
  }
  .l1-txt {
    position: absolute;
    left: 70px;
    top: 25px;
    font-size: 6px;
    line-height: 7px;
  }
}
